<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>StoryBooks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        {{> _header}}
        {{> _add_btn}}
        <div class="container">
            {{{body}}}
        </div>
    </body>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script>

    {{!-- <script src="script/main.js"></script> --}}

</html>